# Pandas Dummies 알아보기

In [1]:
import pandas as pd

In [3]:
s= pd.Series (list('abca'))
print(s)

0    a
1    b
2    c
3    a
dtype: object

In [4]:
pd.get_dummies(s)

   a  b  c
0  1  0  0
1  0  1  0
2  0  0  1
3  1  0  0

In [6]:
import numpy as np

In [7]:
s1 = ['a','b',np.nan]
print(s1)

['a', 'b', nan]

In [8]:
pd.get_dummies(s1,dummy_na = True)

   a  b  NaN
0  1  0    0
1  0  1    0
2  0  0    1

In [9]:
df = pd.DataFrame ({'A':['a','b','a'],'B':['b','a','c'],'C':[1,2,3]})
print(df)

   A  B  C
0  a  b  1
1  b  a  2
2  a  c  3

In [10]:
pd.get_dummies(df)

   C  A_a  A_b  B_a  B_b  B_c
0  1    1    0    0    1    0
1  2    0    1    1    0    0
2  3    1    0    0    0    1

In [11]:
pd.get_dummies(df,prefix = ['col1','col2'])

   C  col1_a  col1_b  col2_a  col2_b  col2_c
0  1       1       0       0       1       0
1  2       0       1       1       0       0
2  3       1       0       0       0       1